@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  background-color: #fff;
  font-family: Consolas, monaco, monospace;
  height: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #CCC5B7;
  border: 1px solid #ddd;
  border-radius: 5px;
}
